html
	head
		link(rel='stylesheet' href='../lib/chroma.css')
		link(href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet')
		style.
			.button {
				font-family: 'Lato';
			}
	body
		button.button.primary TEXT
		button.button.success TEXT
		button.button.danger TEXT
		button.button.primary.small TEXT
		button.button.primary.large TEXT
		button.button.primary.link TEXT
		
