html
	head
		link(rel='stylesheet' href='../lib/chroma.css')
		link(href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet')
		style.
			button {
				font-family: 'Nunito';
			}
	body
		button.c PRIMARY
		button.c.success SUCCESS
		button.c.danger DANGER
		button.c.info INFO
		button.c.warning WARNING
		button.c.alert ALERT
		button.c.primary.small TEXT
		button.c.primary.large TEXT
		button.c.primary.link TEXT
		
