html
	head
		link(rel='stylesheet' href='../lib/chroma.css')
		link(href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet')
		style.
			button {
				font-family: 'Nunito';
			}
	body
		button.c PRIMARY
		button.c.success SUCCESS
		button.c.danger DANGER
		button.c.info INFO
		button.c.warning WARNING
		button.c.alert ALERT
		br
		br
		button.c.primary.half HALF
		button.c.primary.small SMALL
		button.c.primary PRIMARY
		button.c.primary.large LARGE
		button.c.primary.double DOUBLE
		br
		br
		button.c.link PRIMARY LINK
		button.c.link.success SUCCESS LINK
		button.c.link.danger DANGER LINK
		button.c.link.info INFO LINK
		button.c.link.warning WARNING LINK
		button.c.link.alert ALERT LINK
		br
		br
		.c.view.primary
			button.c.light LIGHT
			button.c.dark DARK
			button.c.success SUCCESS
			button.c.danger DANGER
			button.c.info INFO
			button.c.warning WARNING
			button.c.alert ALERT
			button.c.link.light LIGHT
			button.c.link.dark DARK
		
