@import 'nib'
@require '../node_modules/normalize.css/normalize.css'

$white = #fff
$black = #000

$red = #c25c47
$orange = #ffa514
$yellow = #d5d581
$green = #71d094
$blue = #4064bf
$purple = #6857c7

$primary = $purple
$success = $green
$danger = $red
$info = $blue
$warning = $orange
$alert = $yellow

$border-size = 2px
$border-radius = 0

colors = (() $primary) (success $success) (danger $danger) (info $info) (warning $warning) (alert $alert)
sizes = (() 1) (half 1/2) (small 2/3) (large 4/3) (double 2)
transition-scheme = .3s ease-out

$darken(c)
	darken c 20%

$lighten(c)
	lighten c 50%

$active = $darken
$focus = $lighten

$color(fn)
	for c in colors
		if c[0] is ()
			fn c[1]
		else
			&.{c[0]}
				fn c[1]

$size(fn)
	for s in sizes
		if s[0] is ()
			fn s[1]
		else
			&.{s[0]}
				fn s[1]

$scale(factor, list)
	arr = ()
	for v, i in list
		if i isnt 0
			push arr v * factor
	{list[0]} arr

$transition()
	transition transition-scheme

button.c
	$transition()
	outline 0
	background $white

	&:not(.link)
		border $border-size solid
		border-radius $border-radius
		&:hover, &:active
			color $white

	&.link
		border $border-size solid transparent

		&:after
			$transition()
			content ''
			display block
			margin auto
			height $border-size
			border-radius $border-radius
			width 0
			background transparent

		&:hover:after, &:focus:after
			width 100%

	colorify(c)
		color c

		&:not(.link)
			border-color c

			&:hover
				background c

			&:active
				background $active(c)
				border-color $active(c)

			&:not(:hover):not(:active):focus
				color $focus(c)
				border-color $focus(c)

		&.link
			&:hover:after, &:focus:after
				background c

			&:active
				color $active(c)

				&:after
					background $active(c)

			&:not(:hover):not(:active):focus
				color $focus(c)

				&:after
					background $focus(c)
	$color colorify

	sizify(s)
		$scale s, font-size 10px
		$scale s, padding 9px 30px
	$size sizify
